.main {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
}
.button {
  position: absolute;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  color: white;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.addButton{
  background-color: green;
}
.rotateButton{
  left:100px;
  background-color: aquamarine;
  color: gray;
}
.mainCanvas {
  height: 100%;
  width: 100%;
}
