.main {
  position: absolute;
  width: 300px;
  color: #fff;
  transform: translateX(-50%);
  font-size: 24px;
  border-radius: 2px;
  background-color: rgba(128, 25, 25, 0.8);
}

.closeBtn {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;

  color: #000;
  font-size: 5px;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  border-radius: 6px;
  background-color: #bbb;
}
